@import '@angular/material/prebuilt-themes/indigo-pink.css';


.container {
    padding: 20px;
  }
  
  mat-toolbar {
    margin-bottom: 20px;
  }
  
  mat-card {
    margin-top: 20px;
    padding: 20px;
  }
  